export GIT_SSH_COMMAND="ssh -o IdentityFile=$HOME/.ssh/id_ed25519_nix_account -o IdentitiesOnly=yes -o BatchMode=yes -o StrictHostKeyChecking=accept-new -o IdentityAgent=none"
export SSH_AUTH_SOCK=
use flake
